.descriction-main1
{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 80px;
    /* background-color: #EFD8DE; */
}
.descriction-main2
{
    margin-top: 80px;
}
.description-media-vice
{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.dis-img1-media
{
    width: 100%;
    height: 70vh;
    padding: 2px;
}
.dis-img2-media
{
    width: 100%;
    height: 70vh;
    padding: 2px;
}
.descriction-main1 .dis-img1
{
    width: 50%;
    height: 97vh;
    padding: 2px;
}
.descriction-main1 .dis-img2
{
    width: 50%;
    height: 97vh;
    padding: 2px;
}
.img-down-p
{
    background-color: #EFD8DE;
}
.dis-details-name
{
    font-size: 48px;
    font-weight: bold;
    margin: 30px;
}
.ditals-imgs1
{
    width: 100%;
    margin-bottom: 5px;
}
.ditals-imgs2
{
    width: 90%;
    margin-left: 10%;
}
.ditails-img-p
{
    margin-left: 10%;
}
.ditals-img3
{
    width: 90%;
}
.ditals-img4
{
    width: 90%;
    margin-left: 10%;
    margin-top: 70%;
}
.ditals-text-h1,.ditals-text-h2
{
    font-weight: bolder;
    font-size: 38px;
    margin-bottom: 0%;
}
.ditals-text-p1,.ditals-text-p2,.ditals-text-p3
{
    font-size: 15px;
}
.decription-anchor
{
    font-family: "Mint Grotesk", sans-serif;
    font-weight: 600;
}
.decription-anchor-arrow
{
    display: none;
}
.arrow-mains:hover .decription-anchor-arrow
{
    display: block;
}
.cloth-cricle
{
    height: 20px;
    width: 20px;
    background-color: #98b7bb;
    border-radius: 50%;
}
.dis-line
{
    border-bottom: 1px solid black;
}
.info-canvas
{
    width: 36%;
    background-color: #ececec;
}
.info-canvas-size
{
    width: 57%;
    background-color: #EFD8DE;
}
.wish-bookmark
{
    font-size: 17px;
    cursor: pointer;
}
.wish-bookmark:hover
{
    font-style: italic;
}
.boxes
{
    border: 1px solid black;
    text-align: center;
    padding: 0%;
    background-color: none;
}
.boxes:hover .div1
{
    border-bottom: 2px dotted rgb(0, 0, 0);
    background-color: #EFD8DE;
    transition: all 0.5s;
}
.boxes .div1
{
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.boxes .div2
{
    padding:40px;
    font-size: 25px;
    background-color:#EFD8DE;
    font-weight: bold;
}
.slide-names11
{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}


@media(min-width:0px) and (max-width:576px)
{

    .descriction-main1
    {
        height:auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
        /* background-color: #EFD8DE; */
    }
    .descriction-main2
{
    margin-top:20px;
}
.info-canvas
{
    width: 90%;
    background-color: #ececec;
}
.info-canvas-size
{
    width: 100%;
    background-color: #EFD8DE;
}

}


@media(min-width:576px) and (max-width:768px)
{
    .descriction-main1
    {
        height:auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
        /* background-color: #EFD8DE; */
    }
    .descriction-main2
{
    margin-top:20px;
}
.info-canvas
{
    width: 70%;
    background-color: #ececec;
}
.info-canvas-size
{
    width: 80%;
    background-color: #EFD8DE;
}
}


@media(min-width:768px) and (max-width:992px)
{
    .descriction-main1
    {
        height:auto;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
        /* background-color: #EFD8DE; */
    }
    .descriction-main2
{
    margin-top:20px;
} 
.info-canvas
{
    width: 60%;
    background-color: #ececec;
}
}

@media(min-width:992px) and (max-width:1200px)
{
    .descriction-main1
    {
        height:120vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 0px;
        /* background-color: #EFD8DE; */
    }
    .descriction-main2
{
    margin-top:20px;
} 
.descriction-main1 .dis-img1
{
    width: 50%;
    height: 70vh;
    padding: 2px;
}
.descriction-main1 .dis-img2
{
    width: 50%;
    height: 70vh;
    padding: 2px;
}
.info-canvas
{
    width: 50%;
    background-color: #ececec;
}
}


@media(min-width:1200px) and (max-width:1400px)
{
    .descriction-main1
{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 80px;
    /* background-color: #EFD8DE; */
}
.descriction-main2
{
    margin-top: 80px;
}
.description-media-vice
{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.dis-img1-media
{
    width: 100%;
    height: 70vh;
    padding: 2px;
}
.dis-img2-media
{
    width: 100%;
    height: 70vh;
    padding: 2px;
}
.descriction-main1 .dis-img1
{
    width: 50%;
    height: 97vh;
    padding: 2px;
}
.descriction-main1 .dis-img2
{
    width: 50%;
    height: 97vh;
    padding: 2px;
}
.img-down-p
{
    background-color: #EFD8DE;
}
.dis-details-name
{
    font-size: 48px;
    font-weight: bold;
    margin: 30px;
}
.ditals-imgs1
{
    width: 100%;
    margin-bottom: 5px;
}
.ditals-imgs2
{
    width: 90%;
    margin-left: 10%;
}
.ditails-img-p
{
    margin-left: 10%;
}
.ditals-img3
{
    width: 90%;
}
.ditals-img4
{
    width: 90%;
    margin-left: 10%;
    margin-top: 70%;
}
.ditals-text-h1,.ditals-text-h2
{
    font-weight: bolder;
    font-size: 38px;
    margin-bottom: 0%;
}
.ditals-text-p1,.ditals-text-p2,.ditals-text-p3
{
    font-size: 15px;
}
.decription-anchor
{
    font-family: "Mint Grotesk", sans-serif;
    font-weight: 600;
}
.decription-anchor-arrow
{
    display: none;
}
.arrow-mains:hover .decription-anchor-arrow
{
    display: block;
}
.cloth-cricle
{
    height: 20px;
    width: 20px;
    background-color: #98b7bb;
    border-radius: 50%;
}
.dis-line
{
    border-bottom: 1px solid black;
}
.info-canvas
{
    width: 36%;
    background-color: #ececec;
}
.wish-bookmark
{
    font-size: 17px;
    cursor: pointer;
}
.wish-bookmark:hover
{
    font-style: italic;
}
.boxes
{
    border: 1px solid black;
    text-align: center;
    padding: 0%;
    background-color: none;
}
.boxes:hover .div1
{
    border-bottom: 2px dotted rgb(0, 0, 0);
    background-color: #EFD8DE;
    transition: all 0.5s;
}
.boxes .div1
{
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
.boxes .div2
{
    padding:40px;
    font-size: 25px;
    background-color:#EFD8DE;
    font-weight: bold;
}
.slide-names11
{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
}